/* deal section */
.deals__content .desc p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .rewards__list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .header__nav {
    left: 45%;
  }
}

@media (max-width: 991px) {
  .room-facilities__container h3 {
    text-align: left;
  }
  .cooming-sec {
    padding-bottom: 64px;
    background-color: var(--color-white);
  }
  .container-page h5 {
    padding: 0 32px;
    margin-bottom: 8px;
    margin-top: 64px;
  }
  .comming-soon__content {
    height: auto;
  }
  .spacing-120 {
    height: 64px;
  }
  .comming-soon {
    height: auto;
  }
  .flex-center {
    position: static;
  }

  .comming-soon .panels .panel,
  .panels {
    width: 0;
  }
  .container-page {
    width: 100%;
  }
  .comming-soom__count {
    display: none;
  }
  .amenities-sec {
    overflow-x: hidden;
  }

  .rewards-sec__box {
    padding: 60px 0;
  }

  .rewards-sec__container {
    height: 100%;
  }

  .deals__list .swiper-control .swiper-button-prev {
    left: unset;
    right: 16px;
    bottom: -60px;
    width: 70px;
    height: 18px;
    top: unset;
    transform: translate(-95px, 0);
  }

  .deals__list .swiper-control .swiper-button-next {
    right: 8px;
    left: unset;
    bottom: -60px;
    width: 70px;
    height: 18px;
    top: unset;
    transform: translate(0);
  }

  .deals__list .swiper-pagination {
    top: unset;
    bottom: -60px;
    left: unset;
    transform: translate(-50%, 0);
  }

  .deals__view {
    margin-top: 32px;
    padding: 0 16px;
    justify-content: flex-start !important;
  }

  .page-tpl-contact .deals__view {
    justify-content: flex-end !important;
  }

  /* header tablet */
  .header__top-bar {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    z-index: 10;
  }

  .header__main {
    display: none;
  }

  .header__btn-sign-in {
    display: none !important;
  }

  .header-top__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  .cooming-sec .container-page {
    background-color: #fff;
  }
  .comming-soon__content .box {
    padding: 0 32px;
  }
  .bar span {
    background-color: white;
  }

  .header__sub-menu {
    top: 60px;
    height: calc(100vh - 60px);
    /* overflow-y: scroll; */
  }

  .header {
    transform: translate(0) !important;
  }
  .comming-sec {
    background-color: var(--color-white);
  }
  .comming-soon__content .box {
    max-width: 100%;
  }
  .comming-soon__content {
    margin-bottom: 64px;
  }
  .comming-soon__content:last-child {
    margin-bottom: 0;
  }
  .comming-soon__content .box .img-mobile {
    width: 100%;
    aspect-ratio: 280 / 290;
    max-height: 290px;
    margin-bottom: 24px;
  }

  .comming-soon__content .box .img-mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .comming-soon__content .box {
    padding: 0 32px;
  }

  .map-content-detail .box-head .icon-back-lv2 {
    width: 60px;
    height: 60px;
  }

  /* hotel page */
  .hotels__filter.scrolling-up {
    top: 60px;
  }

  /* hotel detail */
  .room-facilities__list {
    display: flex;
    flex-wrap: wrap;
  }

  .facilities__item {
    width: calc(25% - 24px);
    height: auto;
    aspect-ratio: 1;
  }

  .header__booking .banner-hero__form {
    padding: 16px;
  }

  .wink-room__slider .box-desc .desc p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .amenities__bottom > .row {
    justify-content: space-between;
  }

  /* header */

  .sub-menu__left {
    height: calc(100dvh - 113px);
    background-color: var(--color-gray-10);
  }

  .menu-item-has-children > .sub-menu__container {
    width: 100vw;
    left: 0;
    right: unset;
    top: 0;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    padding: 0;
    transition: all 0.8s ease;
    transform: translateX(100%);
  }

  .menu-item-has-children.open > .sub-menu__container {
    transform: none;
  }

  .sub-menu__grid {
    padding: 0 16px 70px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--color-gray-10);
  }

  .sub-menu__grid .btn-back {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.48px;
    line-height: 26px;
    position: relative;
    width: max-content;
  }

  .sub-menu__grid .btn-back::before {
    background-image: url(../images/ic_prev.svg);
    content: "";
    width: 4px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .sub-menu__item .sub-menu__image {
    aspect-ratio: 342 / 190;
    height: unset;
  }

  .sub-menu__item {
    gap: 12px;
  }
  .sub-menu__bottom ul {
    padding: 10px 10px 24px 37px;
    gap: 8px 24px;
  }

  .sub-menu__cta {
    background-color: var(--color-white);
    width: 100vw;
    height: auto;
    z-index: 99999;

    position: fixed;
    left: 0;
    top: calc(100dvh - 46px);
  }

  .sub-menu__cta button {
    display: block !important;
  }

  .sub-menu__cta a,
  .sub-menu__cta button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.6px;
    border: 1px solid var(--color-black);
    padding: 13px;
    color: var(--color-white);
    background-color: var(--color-black);
    text-transform: uppercase;
  }

  .sub-menu__cta.page-detail button{
    width: 100%;
  }

  .sub-menu__cta a.primary {
    border-color: var(--color-primary);
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .header__sub-menu.scrolled-down {
    height: calc(100vh - 60px);
    /* overflow-y: scroll; */
  }

  .amenities__title .item {
    padding: 16px;
  }

  .amenities__top .box h2 {
    padding-left: 16px;
    margin-bottom: 24px;
  }

  .amenities__top .amen-right .box-detail .head h3 {
    padding: 0 16px;
  }

  .amenities__top .amen-right .box-detail .box-slide {
    padding: 0 16px;
  }

  .comming-soom__count {
    height: 90px;
  }

  /* tool bar */
  .toolbar-mobile {
    width: 100vw;
    height: max-content;
    background-color: var(--color-white);
    z-index: 100;
  }

  .btn-booking__mobile {
    font-size: 12px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.6px;
    padding: 13px;
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  .cta-mess {
    bottom: 60px;
  }
  /* end tool bar */

  .section.experience {
    overflow-x: hidden;
  }

  .experience__container {
    padding-left: 0;
  }

  .hero-deals .hero-deals__inner {
    margin: 100px auto 0;
    height: calc(100vh - 100px);
  }

  .map.homepage .map__marker {
    overflow-y: scroll;
  }
  .comming-soon-company .container-page h5 {
    padding: 0;
  }

  .comming-soon__content {
    background-color: var(--color-white);
  }

  .comming-soon__content .box {
    background-color: var(--color-white);
  }

  .deals-sec .custom__btn {
    opacity: 1 !important;
    transform: none !important;
  }

  .rewards-list {
    width: 100%;
  }

  .rewards-list ul {
    overflow-y: scroll;
  }

  .career-intro-sec .container-page .box h5 {
    padding: 0;
  }

  .career-intro-sec .comming-soon {
    flex-direction: column;
  }

  .career-intro-sec .container-page .box {
    padding-top: 60px;
    padding-bottom: 64px;
    max-width: 100%;
    height: auto;
  }

  .career-intro-sec .container-page {
    margin: 0;
    padding: 0 40px;
    width: 100%;
  }

  .career-intro-sec .container-page .box h5 {
    margin-bottom: 8px;
    margin-top: 0;
  }

  .career-intro-sec .panels .box p {
    margin-bottom: 8px;
  }

  .career-intro-sec .panels .box {
    width: 100%;
    max-width: 100%;
    padding: 64px 40px 0;
    transform: none;
  }

  .career-intro-sec .panels .box h1 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.84px;
  }

  .career-intro-sec .panels .panel:last-child .box {
    padding-bottom: 64px;
  }

  .career-intro-sec .container-page .box .desc {
    margin-bottom: 0;
  }

  .page-details-hotels .footer__container--bottom-overlay.freeze .cta-mess{
    top: -140px !important;
  }

  .btn-back__wrapper{
    position: sticky;
    top: 0;
    margin: 20px -16px 0;
    padding: 0 16px 0;
    background: #f2f2f2;
  }
}

@media (max-width: 767px) {
  .comming-soon {
    height: auto;
  }
  /* General */
  .h5-font {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.64px;
  }
  .b2-font {
    font-size: 12px;
    line-height: 18px;
  }
  .h1-bold {
    font-size: 28px;
    line-height: 36px;
  }
  .h2-font {
    font-size: 28px;
    line-height: 36px;
  }
  .spacing-mb-32 {
    height: 32px;
  }
  .spacing-mb-120 {
    height: 120px;
  }
  .spacing-200 {
    height: 80px;
  }
  .spacing-120 {
    height: 80px;
  }
  .spacing-120.spacing-mb-48 {
    height: 48px;
  }
  .spacing-mb-64 {
    height: 64px;
  }
  .h1-bold,
  .h1-light {
    font-size: 36px;
    line-height: 48px;
  }
  /* css button find room */
  .find-room-button {
    position: fixed;
    top: 100px;
    left: 50%;
    z-index: 999;
    width: calc(100% - 48px);
    transform: translateX(-50%) skewX(-20deg);
  }
  .find-room-button a {
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  .find-room-button a span {
    transform: skewX(20deg);
  }
  /* end css button find room */
  /* mobile header */
  .button__book {
    display: none;
  }

  .header__sub-menu::-webkit-scrollbar {
    display: none;
  }
  .header__sub-menu .box-img {
    padding-inline: 24px;
    aspect-ratio: 377 / 220;
  }
  .menu-container {
    margin-left: 37px;
  }
  /* end mobile header */
  /* mobile banner */
  .banner-hero__heading {
    bottom: 32px;
  }

  .banner-hero__container {
    height: 440px;
  }

  .banner-hero__heading h1 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.84px;
    padding: 0 15px;
  }
  /* end mobile banner */

  /* mobile winkroom */
  .wink-room__container {
    padding: 0 24px;
  }
  .wink-room__slide {
    aspect-ratio: 327 / 340;
  }
  .wink-room__heading .heading .before-elements {
    width: 220px;
  }
  .wink-room__heading .heading {
    padding-top: 24px;
  }
  .wink-room__heading {
    margin-bottom: 0;
  }
  .offer__content {
    padding: 0 24px;
  }
  /* end mobile winkroom */
  /* mobile experience */
  .experience__container {
    padding: 0;
    gap: 32px;
  }
  .experience__grid {
    /* flex-wrap: nowrap; */
    flex-direction: column;
    gap: 32px 0;
    overflow: hidden;
  }

  .experience__box {
    display: block;
  }

  .experience__item {
    width: 100%;
    padding-left: 64px;
  }

  .experience__item:nth-child(odd) {
    transform: skewX(-15deg) translateX(-40px);
  }

  .experience__item:nth-child(even) {
    transform: skewX(-15deg) translateX(30px);
  }

  .experience__item:nth-child(odd) .experience__box .experience__desc,
  .experience__item .experience__box .experience__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .experience__item:nth-child(even) .experience__box {
    transform: translateX(35px);
  }

  .experience__item .experience__box .experience__image {
    margin-bottom: 15px;
    aspect-ratio: 300 / 170;
    height: unset;
  }

  .experience__desc h5 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.6px;
    margin-bottom: 4px;
  }

  .experience__desc p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.56px;
    font-weight: 400;
    color: var(--color-black);
  }

  .experience__heading {
    padding: 0 16px;
  }
  .experience__text {
    max-width: 210px;
    width: 100%;
  }

  .experience__heading h3 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.84px;
  }

  .experience__heading p {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.6px;
  }
  /* end mobile experience */
  /* mobile wink guide */
  .banner-guides__text h3 {
    font-size: 36px;
    line-height: 40px;
  }
  .banner-guides__text {
    left: 24px;
    max-width: 210px;
  }
  .banner-guides__content .content {
    padding: 0 24px;
    font-size: 36px;
    line-height: 48px;
  }
  .banner-guides__container {
    width: 100%;
    aspect-ratio: 327 / 340;
  }
  /* end wink guide */
  /* mobile feature image */
  .featured-image__container {
    padding: 0;
  }
  .featured-image__list {
    overflow-x: scroll;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .featured-image__list::-webkit-scrollbar {
    display: none;
  }
  .featured-image__item {
    width: calc(100vw - 60px);
    height: auto;
    padding: 0;
  }
  .featured-image__item:last-child {
    width: auto;
    height: auto;
  }
  /* end mobile feature image */

  /* mobile comming soon */
  .comming-soon__container {
    flex-direction: column-reverse;
    padding: 0 20px;
    gap: 80px;
    cursor: auto;
  }

  .comming-soon__content {
    padding: 0;
    height: auto;
    /* max-height: max-content; */
  }

  .comming-soon__content .box {
    padding: 0 32px;
    background-color: var(--color-white);
  }

  .comming-soon__content .box .desc {
    margin-top: 24px;
  }

  .comming-soon .img__container img:nth-child(2) {
    top: 40px;
    left: 25px;
  }

  .comming-soon .img__container img {
    height: initial;
  }

  .spacing-120 {
    height: 60px;
  }
  .comming-soon__btn {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .comming-soon__content .box h5 {
    margin-bottom: 8px;
  }

  .comming-soon__content .box h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .comming-soon__btn-prev,
  .comming-soon__btn-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    border: 1px solid;
    cursor: pointer;
  }

  .comming-soon__btn-prev:hover,
  .comming-soon__btn-next:hover {
    background-color: black;
    color: white;
  }

  .comming-soon__btn-prev:active,
  .comming-soon__btn-next:active {
    background-color: black;
    color: white;
  }
  .comming-soon .img__container img:nth-child(2) {
    left: 17px;
  }
  /* end mobile comming soon */

  /* css mobile hotels */
  .hotels__box .hotels__tag {
    top: 24px;
    left: 24px;
  }

  .hotels__box .hotels__tag .tag {
    padding: 7px 15px;
  }

  .hotels__container {
    padding: 0 16px;
  }
  .hotels__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .hotels__name {
    line-height: 32px;
    letter-spacing: 0.06px;
    margin-bottom: 12px;
  }
  /* end css mobile hotels */

  /* mobile section deals */
  .deals__container {
    padding: 0;
  }

  .deals__content {
    padding: 24px;
  }

  .deals__content .title {
    line-height: 28px;
    margin-bottom: 24px;
  }

  .deals__header .deals__btn {
    display: none;
  }

  .deals__container .box {
    width: 100%;
    height: 100%;
  }

  .deals__container .box__wrapper {
    flex-wrap: nowrap;
    gap: 0;
    margin-bottom: 24px;
  }

  .deals .box__wrapper .box {
    height: auto;
  }

  .deals .box__container.swiper {
    margin-inline: initial;
  }

  .deals .swiper-button__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .deals .swiper-button-prev,
  .deals .swiper-button-next {
    position: static;
    font-size: 0;
    color: var(--black-color);
    width: 40px;
    height: 40px;
    border: solid 1px;
    margin-top: 0;
  }
  .deals .swiper-button-prev::after,
  .deals .swiper-button-next::after {
    font-size: 0;
  }
  .deals .swiper-button-prev:hover,
  .deals .swiper-button-next:hover {
    background-color: var(--color-black);
  }
  .deals .swiper-button-prev:hover svg path,
  .deals .swiper-button-next:hover svg path {
    fill: var(--color-white);
  }

  .deals .swiper-button-next svg,
  .deals .swiper-button-prev svg {
    width: auto;
    height: auto;
  }

  /* end section deals */
  /* mobile footer */
  .footer__container--top {
    padding: 48px 24px 40px;
    height: auto;
    background-image: url("../images/image-wink-mobile.svg");
    background-position: bottom right;
  }

  .follow__us {
    margin-bottom: 40px;
  }

  .footer__container--right {
    gap: 40px 0;
  }

  .footer__container--right .form {
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 40px 0;
  }

  .footer__container--right .form input {
    width: 100%;
  }

  .footer__container--bottom {
    padding: 300px 24px 48px;
  }

  .footer__container--bottom .row {
    flex-direction: column;
  }

  .footer__container--bl {
    align-items: flex-start;
    margin-bottom: 24px;
  }

  .footer__container--bottom .terms .terms__desc {
    margin-bottom: 30px;
  }

  .footer__container--bottom .terms ul {
    flex-wrap: wrap;
    gap: 8px 24px;
  }

  .footer__container--bottom .wink {
    margin-bottom: 24px;
  }

  .footer__container--right .newsletter .content {
    margin-bottom: 24px;
  }
  /* end mobile footer */

  /* cta */
  .cta-mess {
    bottom: 70px;
    right: 32px;
  }
  /* end cta */

  /* feedback */
  .feedback {
    bottom: 150px;
    background-color: var(--color-black);
    padding: 16px 7px 8px 7px;
    gap: 12px;
  }
  /* end feedback */

  /* modal finfing booking */
  .modal-booking {
    transition-property: opacity, visibility;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-delay: 300ms;
    transition-duration: 0.5s;

    display: block;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: var(--color-white);
  }

  .modal-booking.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  .modal-booking .modal-form {
    height: 100vh;
    position: relative;
  }

  .modal-booking .modal-form form {
    padding: 24px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .modal-booking .modal-close {
    position: absolute;
    top: 80px;
    right: 24px;
  }

  .modal-booking .modal-close::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }

  .modal-booking .date input {
    width: 105px;
    border: none;
    border-bottom: 1px solid var(--black-color);
  }

  .modal-booking .select-box {
    display: block;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    padding: 5px 10px;
    z-index: 3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  }

  .modal-booking .select-box .adult,
  .modal-booking .select-box .child {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
  }

  .modal-booking .select-box .select {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .modal-booking .select-box.active {
    opacity: 1;
    visibility: visible;
  }

  .modal-booking .people {
    position: relative;
  }

  .modal-booking button {
    padding: 12px;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 0.6px;
    margin-top: 10px;
  }

  .modal-booking .dropdown-custom__menu {
    left: 0;
    right: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    top: 55px;
  }
  /* end modal finding booking */
  /* comming soon section */
  .cooming-sec .panels {
    width: 0;
    display: none;
  }

  .cooming-sec .container-page {
    width: 100%;
  }

  .comming-soom__count {
    display: none;
  }
  /* end comming soon section */
  /* deals section */
  .deals__title {
    align-items: flex-start !important;
    margin-bottom: 32px;
    padding: 0 16px;
  }
  .deals__list {
    padding: 0;
    padding-left: 16px;
  }
  .deals__title h2 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.84px;
    margin-bottom: 16px;
    text-align: left;
  }
  /* end deals section */
  .rewards-sec {
    height: auto !important;
    max-height: unset !important;
  }

  .rewards-sec__top h3 {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }

  .rewards-sec__top {
    margin-bottom: 48px;
    max-width: 80%;
  }

  .pin-spacer:has(.rewards-sec) {
    height: auto !important;
  }

  .rewards__list {
    gap: 9px;
    max-width: 100%;
    padding: 0 40px;
  }

  .rewards__item .icon {
    width: 64px;
    height: 64px;
  }

  .rewards__item {
    padding: 12px;
    height: auto;
    width: 100%;
    aspect-ratio: 1;
    max-height: 184px;
  }

  .rewards-sec__button {
    margin-top: 32px;
  }

  /* section map */
  .map__wrapper {
    height: auto;
  }

  .map__wrapper .map-overview {
    height: 600px;
  }

  .map__marker {
    top: unset;
    width: 100%;
    display: none !important;
  }

  .map-content {
    display: none;
  }

  .map-content-detail {
    width: 100%;
  }

  .map-content-detail .box-body .content {
    padding: 40px 16px;
  }

  .map-content-detail .box-body .content h5 {
    margin-bottom: 20px;
  }

  /* page hotel detail */
  .header__booking {
    display: none;
  }

  .facilities__item {
    width: calc(100% / 3 - 16px);
    min-width: 190px;
  }

  .room-facilities__container h3 {
    text-align: left;
    margin-bottom: 32px;
  }

  .facilities__item .icon {
    width: 64px;
    height: 64px;
  }

  .room-facilities__list {
    justify-content: center;
  }

  .amenities__top .box h2 {
    display: none;
  }

  .amenities__top .title-mobile {
    padding: 64px 16px 24px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.84px;
    font-weight: 900;
  }

  .amenities__top .swiper-amenities {
    height: auto;
  }

  .amenities__top .swiper-amenities .swiper__img {
    width: 100%;
    aspect-ratio: 375 / 269;
    height: unset;
  }

  .amenities__content .title {
    margin-top: 24px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.84px;
  }

  .amenities__bottom .row:first-child {
    margin-bottom: 64px;
  }

  .amenities__top .amen-right .box-detail .head .icon-close {
    display: none;
  }

  .amenities__top .amen-right .box-detail .head h3 {
    margin-top: 16px;
    padding: 0 16px;
    font-weight: 900;
  }

  .amenities__top .amen-right .box-detail .box-slide .swiper-button-prev {
    left: 20px;
    bottom: -40px;
  }

  .amenities__top .amen-right .box-detail .box-slide .swiper-pagination {
    left: 80px;
    bottom: -40px;
  }

  .amenities__top .amen-right .box-detail .box-slide .swiper-button-next {
    left: 130px;
    bottom: -40px;
  }

  .amenities__top .amen-right .box-detail .head {
    margin-bottom: 24px;
  }

  .amenities-sec .close-box__mobile {
    margin-left: 20px;
    margin-top: 70px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
    letter-spacing: 0.48px;
    color: var(--color-black);
    position: relative;
  }

  .amenities-sec .close-box__mobile::before {
    content: "";
    width: 4px;
    height: 10px;
    background-image: url("../images/ic_arrow_black_left.svg");
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .amenities-sec .amenities__title {
    margin-top: 16px;
  }

  .room-facilities.--details {
    padding: 0 16px;
  }

  .header-hotels__details {
    padding: 16px;
  }

  .header-hotels__details .hotels__details--left h4 {
    display: none;
  }

  .header-hotels__details .hotels__details--right .phone {
    display: none !important;
  }

  .wink-detail__container h3 {
    margin-bottom: 32px;
  }

  .wink-detail-sec .wink-detail__desc .desc {
    margin-bottom: 24px;
  }

  .swiper-control-parent {
    display: none;
  }

  .wink-room__slider .box-desc {
    padding: 24px;
  }

  .swiper-parent-room > .swiper-wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .amenities__bottom {
    padding: 64px 16px;
  }

  .amenities__bottom > .row {
    flex-direction: row !important;
  }

  .positions-hiring__container {
    padding: 0 16px;
  }

  .position-filters .position-item-sub:nth-child(2),
  .position-filters .position-item-sub:nth-child(4) {
    display: none;
  }

  .position-list .position-item.sub .position-item-sub:nth-child(2),
  .position-list .position-item.sub .position-item-sub:nth-child(4) {
    display: none;
  }

  .position-list .position-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .positions-hiring__container .title {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.84px;
    font-weight: 900;
    margin-bottom: 16px;
  }

  .position-list .position-item.sub .position-item-sub:first-child {
    font-weight: 900;
    text-align: left;
  }

  .positions-hiring {
    padding: 64px 0;
  }

  .position-list .position-filters.scrolling-up {
    top: 60px;
  }

  .room-facilities.why-join-sec {
    padding: 0 16px;
  }

  .position-list .position-item .position-item-sub .dropdown-custom__menu {
    right: 0;
    left: unset;
  }

  .career-intro-sec .container-page .box h2 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.84px;
    margin-bottom: 24px;
  }

  .career-intro-sec .panels {
    width: 100%;
    height: 100%;
  }

  .about-company .about-company__desc {
    display: none;
  }

  .swiper-suites .img {
    /* height: 190px; */
    height: auto;
    aspect-ratio: 343 / 190;
  }

  .experience-sec .experience__content {
    max-width: 100%;
    padding-right: 0;
  }

  .faqs .accordion-body {
    padding-right: 0;
  }

  .hero-deals .hero-deals__inner {
    margin: 0;
    height: 540px;
  }

  .blogs__item .name-city,
  .blogs__grid .blogs__grid--col--box .content h3 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.84px;
  }

  .career-content-sec .career-table ul li .item {
    grid-template-columns: 1fr;
  }

  #modalContactUsEvent .modal-body .deals__view {
    padding: 0;
    justify-content: flex-end !important;
  }

  #modalContactUsEvent .modal-header .btn-close {
    width: 48px;
    height: 48px;
  }

  .sub-menu__grid {
    padding-bottom: 200px;
  }

  .map.homepage .map-content-wrapper img {
    aspect-ratio: 375 / 600;
  }

  .map.homepage .map__wrapper .map-overview img,
  .map.map-new .map__wrapper .map-overview img {
    aspect-ratio: 375 / 600;
  }

  .map.homepage .map__wrapper .map-overview,
  .map.map-new .map__wrapper .map-overview {
    height: auto;
  }

  .deals-sec .deals__img {
    height: unset;
  }

  .deals-sec .deals__content {
    height: auto;
  }
  .page-tpl-suites .wink-room__suites .box .box-desc .overlay {
    height: 340px;
  }

  .swiper-child-img .img {
    aspect-ratio: 343 / 190;
    height: auto;
  }

  .deals-details-sec .box .name {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.84px;
  }

  .career-intro-sec .container-page{
    padding: 0 16px;
  }

  .career-intro-sec .panels .box{
    padding: 64px 16px 0;
  }
}

@media (max-width: 480px) {
  .facilities__item {
    width: calc(100% / 2 - 4px);
    min-width: unset;
  }

  .room-facilities__list {
    gap: 8px;
  }

  .amenities__bottom {
    padding: 64px 16px;
  }

  .room-facilities__list {
    justify-content: flex-start;
  }

  .amenities__bottom .row:first-child {
    margin-bottom: 64px;
  }

  .member-contact .member-box .head h2{
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.84px;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .career-intro-sec .panels .box{
    max-width: 83%;
    padding-left: 0;
    padding-right: 0;
  }

  .career-intro-sec .container-page{
    max-width: 83%;
    margin: 0 auto;
    padding: 0;
  }
}
